@use "variables";

.header {
 
    background-color: rgba(146, 73, 9, 0.616);
    background-image: url(../assets/logo.png);
    background-repeat: no-repeat;
    background-size: 20rem;
  height: 6rem;

}